* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: space-around;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

#container h1 {
    text-align: center;
}